$primary=#00FF99
$primaryhover=lighten(#00FF99, 35%)

$bg=#18181B
$bgdark=#09090B
$bglight=#18181B
$bglighter=lighten(#18181B, 10%)

$red=#00FF99
$green=#22D3EE
$orange=#d66853

$black=#222
$gray=#262626
$grayalt=#323232
$grayhover=#444

$lightgray=#AAA
$white=#A3A3A3

$normalfont=system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif
$monospace=system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif

media--1024() {
  @media (min-width: 1024px) {
    {block}
  }
}

/* CSS rules from the original FontAwesomeIcon component */
svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
}

.svg-inline--fa {
  display: inline-block;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
