.modal-overlay
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  background-color rgba(0, 0, 0, 0.5)
  display flex
  justify-content center
  align-items center
  z-index 1000 /* Ensure modal is on top */

.modal-content
  background-color #333 /* Dark background for the modal */
  color #eee /* Light text */
  border-radius 8px
  min-width 300px
  max-width 600px
  width 100%
  box-shadow 0 4px 15px rgba(0, 0, 0, 0.2)

#primitive-modal .modal-header
  display flex
  justify-content space-between
  align-items center

.modal-body
  display flex
  flex-direction column

#primitive-modal h3
  text-align center
  color #fff
  font-size 16px
  font-weight 500
  margin 0.6em 0

.primitive-grid
  display grid
  grid-template-columns repeat(auto-fit, minmax(100px, 1fr)) /* Responsive grid */
  gap 16px

.primitive-button
  background-color #555 /* Button background */
  color #eee /* Button text color */
  border 1px solid #777
  padding 10px 15px
  border-radius 4px
  cursor pointer
  transition background-color 0.2s ease, transform 0.1s ease
  font-size 0.9em
  text-align center
  aspect-ratio 1

.primitive-button:hover
  background-color #666 /* Darker hover */

.primitive-button:active
  background-color #444
  transform scale(0.98) /* Slight press effect */

.modal-close-button
  background-color #777 /* Different color for cancel */
  color #eee
  border 1px solid #999
  padding 8px 15px
  border-radius 4px
  cursor pointer
  transition background-color 0.2s ease
  align-self flex-end /* Position cancel button to the right */

.modal-close-button:hover
  background-color #888
