.modal-overlay
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  backdrop-filter blur(4px)
  background-color rgba(0, 0, 0, .5)
  display flex
  justify-content center
  align-items center
  z-index 1000 /* Ensure modal is on top */

.modal-content
  color #eee /* Light text */
  border-radius 8px
  min-width 300px
  max-width 600px
  width 100%
  box-shadow 0 4px 15px rgba(0, 0, 0, 0.2)

#primitive-modal .modal-header
  display flex
  justify-content space-between
  align-items center

.modal-body
  display flex
  flex-direction column

#primitive-modal h3
  text-align center
  color #fff
  font-size 16px
  font-weight 500
  margin 0.6em 0

.primitive-grid
  display grid
  grid-template-columns repeat(auto-fit, minmax(100px, 1fr)) /* Responsive grid */
  gap 16px

.primitive-button
  background-color #09090B
  color white
  padding 8px
  border-radius 8px
  cursor pointer
  transition background-color 0.2s ease, transform 0.1s ease
  text-align center
  aspect-ratio 1
  border none
  display flex
  flex-direction column
  gap 8px
  justify-content center
  align-items center

  svg
    width 48px
    height 48px
    margin 4px auto
    color red
    opacity .4

.primitive-button:hover
  border 1px solid #00FF99

  svg
    opacity 1


.primitive-button:active
  border 1px solid #00FF99

  svg
    opacity 1

.modal-close-button
  background-color #777 /* Different color for cancel */
  color #eee
  border 1px solid #999
  padding 8px 15px
  border-radius 4px
  cursor pointer
  transition background-color 0.2s ease
  align-self flex-end /* Position cancel button to the right */

.modal-close-button:hover
  background-color #888
