@import './lib';

#viewportBar
  align-items center
  color $white
  position absolute
  top 0
  left 50%
  transform translateX(-50%)
  flex-grow 2
  display flex
  height 40px
  font-size 14px
  justify-content space-between
  margin 0 auto
  width auto

  .viewportHud-menubar
    display flex
    height 40px
    width 20rem
    align-items center
    justify-content flex-end

#viewportHud
  padding 4px 8px
  margin 0 .5rem

  p
    margin 0
    font-size 14px

#pageToolbar
  display flex
  align-items center
  height 48px

  .button
    width 48px
    height 48px
    border 0
    background none
    font-size 16px
    cursor pointer

  .button:hover
    background #141417

    svg
      color $primary

.toolbarButtons
  display flex
  align-items center
  height 40px

  *
    margin-left 0 !important
    vertical-align middle
    height 48px
    display flex
    align-items center

  a.button
    & svg
      padding 12px

    &:not(.active) svg:hover
      background-color #141417

  .active svg
    background-color #141417!important
    color $primary

  .active:hover svg
    color #fff !important

.local-transform
  padding-left 10px
  padding-right 20px

.local-transform label
  color $lightgray
  padding-left 8px
  font-size 14px

.local-transform a.button
  padding-top 0

#cameraSelect
  cursor pointer
  width 120px
  .select__dropdown-indicator
    padding-left 3px
    padding-right 3px

#cameraToolbar
  margin-right 8px
  align-items center
  display flex

  #cameraSelect
    width 160px // Adjust width to accommodate icon + text
    .select__control
      background-color $bgdark
      border none
      min-height 30px // Adjust height
      height 30px
      box-shadow none
      &:hover
        border-color $grey
    .select__value-container
      padding 0 4px
    .select__single-value
      color $white
      display flex
      align-items center
      svg
        margin-right 8px
        width 16px
        height 16px
    .select__indicator-separator
      display none
    .select__dropdown-indicator
      padding 4px
      color $grey
      &:hover
        color $white
    .select__menu
      background-color $bgdark
    .select__option
      background-color $bgdark
      color $white
      display flex
      align-items center
      svg
        margin-right 8px
        width 24px
        height 24px
      &:hover
        background-color #141417
        color $primary
        svg
          fill $primary
      &--is-focused
        background-color #141417 // Keep focus style consistent with hover
      &--is-selected
        background-color $bgdark // Keep selected background subtle if needed
        color $primary
        svg
          fill $primary

#viewportHud
  display none
  +media--1024()
    display block
