@import './lib';

#viewportBar
  align-items center
  background-color $bg
  color $white
  position absolute
  right 0
  top 0
  flex-grow 2
  display flex
  height 40px
  font-size 15px
  justify-content space-between
  margin 0 auto
  width 100vw

  .scenegraph-menubar
    display flex
    height 40px
    width 20rem
    justify-content space-between

  .viewportHud-menubar
    display flex
    height 40px
    width 20rem
    align-items center
    justify-content flex-end

#viewportHud
  padding 4px 8px
  margin 0 .5rem

  p
    margin 0
    font-size 14px

#pageToolbar
  display flex
  align-items center
  height 48px

  .button
    width 48px
    height 48px
    border 0
    background none
    font-size 16px
    cursor pointer

  .button:hover
    background #141417

    svg
      color $primary

.toolbarButtons
  display flex
  align-items center
  height 40px

  *
    margin-left 0 !important
    vertical-align middle
    height 48px
    display flex
    align-items center

  a.button
    & svg
      padding 12px

    &:not(.active) svg:hover
      background-color #141417

  .active svg
    background-color #141417!important
    color $primary

  .active:hover svg
    color #fff !important

.local-transform
  padding-left 10px
  padding-right 20px

.local-transform label
  color $lightgray
  padding-left 8px
  font-size 14px

.local-transform a.button
  padding-top 0

#cameraSelect
  cursor pointer
  width 120px
  .select__dropdown-indicator
    padding-left 3px
    padding-right 3px

#cameraToolbar
  margin-right 8px
  align-items center
  display flex
  background-color $bgdark
  border-radius 8px
  height 28px
  a
    margin-right 10px
  .select__control
    background none
  .select__single-value
    color $white
    font-size 14px
    &:hover
      color $primary

#viewportHud
  display none
  +media--1024()
    display block
